{% extends 'base.html' %}
{% block title %}Delete A New blog post{% endblock %}
{% block content %}
{% if user.is_superuser %}
    <h1>Delete Blog Post...</h1>
    <br>
    <h3>Delete: {{ post.title }}</h3>
    <br>
    <div class="mb-3">
        <form method="POST">
            {% csrf_token %}
            <strong>Are you sure?</strong><br>
            <br>
            <button class="btn btn-secondary">Delete Post</button>
        </form>
    </div>
{% else %}
You are not allowed here!!!
{% endif %}
{% endblock %}